[submodule "emsdk"]
	path = emsdk
	url = https://github.com/emscripten-core/emsdk
[submodule "libs/box2d"]
	path = libs/box2d
	url = https://github.com/erincatto/box2d
[submodule "libs/raylib"]
	path = libs/raylib
	url = https://github.com/raysan5/raylib
